if terminals
	for terminal in terminals
		div(class="row spacious")
			div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12 terminal-card", id=terminal.id, data-last_seen=terminal.last_seen)
				div(class="row tool-title")
					div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12")
						b #{terminal.id}
				div(class="row spacious")
					div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12")
						b Description: 
							input(class="form-control terminal-description-control", data-id=terminal.id, value=terminal.description)
				div(class="row spacious")
					div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12")
						b Target:
							select(class="form-control target-control", data-id=terminal.id, name="target")
								option= terminal.target
								for device in devices
									option= device.id
				div(class="row spacious")
					div(class="col-xs-6 col-sm-6 col-md-2 col-lg-2")
						b Secured:
					div(class="col-xs-6 col-sm-6 col-md-2 col-lg-2")
						span= '' + ( terminal.secure ? "YES" : "NO" ) + ''
				div(class="row spacious")
					div(class="col-xs-6 col-sm-6 col-md-2 col-lg-2")
						b Enabled: 
					div(class="col-xs-6 col-sm-6 col-md-2 col-lg-2")
						if terminal.enabled
							input(class="terminal-enabled-control", type="checkbox", data-id=terminal.id, checked)
						else
							input(class="terminal-enabled-control", type="checkbox", data-id=terminal.id)
				div(class="row spacious")
					div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12")
						b Secret: 
							input(class="form-control secret-control", type="password", data-id=terminal.id, value="********************")
				div(class="row spacious")
					div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12")
						b Last Seen: 
						span(class='timeago', data-id=terminal.id, time=terminal.last_seen) Unknown
else
	div(class="row spacious")
		div(class="col-md-12") There are no terminals