if devices
	for device in devices
		div(class="row spacious")
			div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12 device-card", id=device.id, data-last_seen=device.last_seen, data-powered=device.powered)
				div(class="row tool-title")
					div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12")
						b #{device.id}
				if user.administrator
					div(class="row spacious")
						div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12")
							b Description: 
								input(class="form-control description-control", data-id=device.id, value=device.description)
					div(class="row spacious")
						div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12")
							b Role:
								if user.administrator
									select(class="form-control role-control", data-id=device.id, name="role")
										option= device.role
										for role in roles
											option= role.code
				else
					div(class="row spacious")
						div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12")
							b Description: 
							span= device.description

				div(class="row spacious")
					div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12")
						b State: 
						span(data-id=device.id, class="powerstate") Unknown
				div(class="row spacious")
					div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12")
						b Last Seen: 
						span(class='timeago', data-id=device.id, time=device.last_seen) Unknown
				div(class="row spacious")
					div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12")
						if user.administrator
							button(class="btn btn-danger", data-id=device.id, ng-click="delete('" + device.id + "')") DELETE
						button(class="btn pull-right powerbutton", data-id=device.id, ng-click="toggle('" + device.id + "')") Checking...
else
	div(class="row spacious")
		div(class="col-md-12") There are no devices